
<!--Navbar-->
<div class="navbar">

  <div class="navbar-content">

<!-- HOME -->
    <a class="nav-item nav-home" [routerLink]='"dashboard"' routerLinkActive="active-link">
      <fa-icon [icon]="homeIcon">
      </fa-icon>
    </a>

<!-- STUDENTS -->
    <a class="nav-item" [routerLink]='"students"' routerLinkActive="active-link">
      <fa-icon [icon]="studentsIcon"></fa-icon>
    </a>

<!-- INSTRUCTORS -->
    <a class="nav-item" [routerLink]='"instructors"' routerLinkActive="active-link">
      <fa-icon [icon]="instructorsIcon"></fa-icon>
    </a>

<!-- LESSONS -->
    <a class="nav-item" [routerLink]='"lessons"' routerLinkActive="active-link">
      <fa-icon [icon]="lessonsIcon"></fa-icon>
    </a>

  </div>

</div>
<!--/.Navbar-->


